<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
       Login
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group col-12">
            <label><i class="fas fa-user" style="color: #73c8a9;"></i> Email</label>
            <input class="form-control" formControlName="email" required>
          </div>

          <div class="form-group col-12">
            <label><i class="fas fa-lock" style="color: #73c8a9;"></i> Password</label>
            <input type="password" class="form-control" formControlName="password" required>
          </div>

          <div class="form-group col-12">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary me-2">Login</button>
            <button type="button" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
        <div class="text-center mt-3">
          Don't have an account? <a href="/register"> Register here</a>
        </div>
      </div>
    </div>
  </div>
</div>
